.container {
  display: grid;
  padding: 10px;


  /*행(옆으로 묶음)  */
    /* 가로 100짜리 3열 */
  /* grid-template-columns: 100px 100px 100px; */

    /* 가로 100px씩 5개 */
  /* grid-template-columns: repeat(5,100px); */

    /* 2o%씩 5개 */
  /* grid-template-columns: repeat(5,20%); */

    /* 총 사용 면적에 개수대로 1/n씩 분할*/
  /* grid-template-columns: 1fr 1fr 1fr; */

    /* 총 사용 면적에 1/4, 2/4, 1/4씩 분할*/
  /* grid-template-columns: 1fr 2fr 1fr; */

    /* 1/총 사용 면적 씩 분할*/
  grid-template-columns: repeat(5, 1fr);

  /* 열 row(높이 묶음)  */
    /* 높이 100짜리 3행 */
  /* grid-template-rows: 100px 100px 100px; */

    /* 높이 100픽셀 200픽셀 번갈아*/
  /* grid-template-rows: 100px 200px repeat(2,100px); */

    /* 갯수 상관없이 150px씩 */
  /* grid-auto-rows: 150px; */

  /* 최소 150px 그이상은 오토 */
    grid-auto-rows: minmax(150px, auto); 
  
/* 갭   */
    /* grid-row-gap: 10px;   */
    /* grid-column-gap: 10px; */
    grid-gap: 10px;
}

.item2{
  /* grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3; */

  /* grid-column: 2/4;
  grid-row:1/3; */

  /* 2번째 부터 2칸 사용 */
  /* grid-column: 2 / span 2; */

/*
  왼쪽/위에서 기준
  1  2  3  4
  1 ----------
    |  |  |  |
  2 ----------
    |  |  |  |
  3 ----------
    |  |  |  |
  4 ----------

  오른쪽/아래 끝 에서 기준
  -4 -3 -2  -1
  ---------- -4
  |  |  |  |
  ---------- -3
  |  |  |  |
  ---------- -2
  |  |  |  |
  ---------- -1

*/
  grid-column: 2 / -1;
  grid-row: 1 / 3;
}
